.Hero {
  font-size: 4.2rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7%;
    background: no-repeat;
  width: 100%;
}
.Hero h5 {
    font-style: normal;
  width: 35%;
  font-size: 1.2rem;
}
.HeroButtons {
    font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media (max-width: 650px) {
  .Hero h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  .Hero {
      font-size: 2.8rem;
      margin-top: 2rem;
      width: 80%;
  }
  .HeroButtons {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .Hero {
      font-size: 3.5rem;
    margin-left: 2rem;
  }
  .Hero h5 {
    width: 60%;
  }
}
