.Primary {
  cursor: pointer;
  font-size: 1.1rem;
  background: #4a2484;
  background: linear-gradient(
    90deg,
    rgba(74, 36, 132, 1) 0%,
    rgba(127, 0, 113, 1) 100%
  );
  padding: 1rem 2rem 1rem 2rem;
  border: 2px solid white;
    border-radius: 20px;
  display: inline-block;
}
.Primary:hover,
.Secondary:hover {
  animation: transform 1s;
}
.Secondary {
    border-radius: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  background: none;
  padding: 1rem 2rem 1rem 2rem;
  border: 2px solid white;
  display: inline-block;
}

@keyframes transform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (max-width: 650px) {
  .Primary {
    width: 100%;
    text-align: center;
      margin-right: 100%;
  }
  .Secondary {
    text-align: center;
    width: 100%;
  }
}
