.BuyNowBox {
  margin-top: -2rem;
    padding-top: 1rem;
  z-index: 1;
  background: black;
  width: 25rem;
}
.InnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13%;
  border-radius: 1rem;
  position: relative;
}
.InnerBoxHeading {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-between;
  margin-right: 2rem;
  height: 2rem;
  margin-left: 2rem;
  align-items: center;
  white-space: pre-wrap;
}
.InnerBoxIcons {
  width: 15%;
  height: auto;
}
.InnerBoxText {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 3rem;
}
.BulletPointText{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 7% 2% 3%;
    gap: 4%;
}
.BulletPoints{
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.InnerBoxButton {
  padding: 3% 7% 3% 7%;
  text-align: center;
  border-radius: 20px;
  background: white;
  color: black;font-weight: bold;
  font-size: 1.5rem;
  position: absolute;
  border: 2px solid black;
  bottom: -1.8rem;
}
.PriceAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.Prices {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5%;
}
@media screen and (max-width: 1000px) {
    .BuyNowBox {
        margin-top: 2rem;
        padding-top: 0;
    }

}