.BuyNowBox{
margin-top: -1.8rem;
    padding-top: 1rem;
    z-index: 1;
    background: black;
    width: 25rem;
}
.InnerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background: pink;
}
.InnerBoxHeading{
    font-size: 2rem;
}