.Background {
  background-image: url("/Background/Background.png");
  background-size: contain;
  color: white;
  width: 100vw;
  height: 100vh;
}
.Effect {
  animation: BreatheEffect 3s forwards;
}
@keyframes BreatheEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Global Styling*/
.MobileTextBreak {
  display: none;
}
@media (max-width: 650px) {
    .MobileTextBreak {
        display: block;
    }
}
