.Pricing {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}
.PricingHeader {
  position: relative;
  width: 65%;
  height: 8rem;
  z-index: 0;
  border-radius: 2rem;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  background:
    linear-gradient(#000000 0 0) padding-box,
    linear-gradient(90deg, rgba(74, 36, 132, 1) 0%, rgba(127, 0, 113, 1) 100%)
      border-box;
}
.PricingHeader::after {
  content: "Pricing";
  font-weight: bold;
  font-size: 3.5rem;
  position: absolute;
  top: -2.3rem;
  left: 23.3rem;
  background: black;
  padding: 0 1rem 0 1rem;
  z-index: 1;
}
.VerticalLine {
  width: 10%;
  margin-left: 49%;
  height: 90%;
  padding-top: 10px;
  border-left: 2px solid;
  border-image: linear-gradient(
      90deg,
      rgba(74, 36, 132, 1) 0%,
      rgba(127, 0, 113, 1) 100%
    )
    1;
}
.BuyNowBoxes {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
