.Pricing {
  margin-top: 30vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}
.PricingHeader {
  width: 65%;
  height: 8rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  background:
    linear-gradient(#000000 0 0) padding-box,
    linear-gradient(90deg, rgba(74, 36, 132, 1) 0%, rgba(127, 0, 113, 1) 100%)
      border-box;
}
.PricingTitle {
  text-align: center;
  margin-top: -3%;
  font-size: 3rem;
  position: relative;
  padding: 0 2% 2% 2%;
  background: black;
}
.VerticalLine {
  width: 0%;
  height: 90%;
  border-left: 2px solid;
  border-image: linear-gradient(
      90deg,
      rgba(74, 36, 132, 1) 0%,
      rgba(127, 0, 113, 1) 100%
    )
    1;
}
.BuyNowBoxes {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .Pricing {
    background-image: url("/Background/Background.png");
    background-size: contain;
  }
  .PricingHeader {
    border: none;
  }
  .VerticalLine {
    display: none;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .Pricing {
    background-image: url("/Background/Background.png");
    background-size: contain;
  }
  .PricingHeader {
    border: none;
  }
  .VerticalLine {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1370px) {
  .VerticalLine {
    display: none;
  }
  .PricingHeader {
    width: 50%;
  }
}
