.InformationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  padding: 1.4rem;
  gap: 1rem;
  max-width: 30%;
  height: 25rem;
  border: 2px solid transparent;
  background:
    linear-gradient(#000000 0 0) padding-box,
    linear-gradient(90deg, rgba(74, 36, 132, 1) 0%, rgba(127, 0, 113, 1) 100%)
      border-box;
}
.InformationBox p {
  text-align: center;
  font-size: 1.2rem;
}
.InformationBoxImage {
  width: 4rem;
  height: 4rem;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .InformationBox {
    max-width: 40%;
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
    .InformationBox {
        max-width: 80%;
    }
    .InformationBox p {
        font-size: 1.6rem;
    }
}
@media (max-width: 650px) {
  .InformationBox {
    max-width: 90%;
  }
}
