.ContactUs {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25vh;
}
.ContactUsHeading {
  font-size: 3rem;
}
.Form {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  justify-content: center;
  width: 80%;
  background-image: linear-gradient(
    90deg,
    rgba(74, 36, 132, 1) 0%,
    rgba(127, 0, 113, 1) 100%
  );
}
.Image {
  position: absolute;
  top: -10vh;
  width: 130%;
  height: 130%;
}
.InputFields {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.ImageAnchor {
  position: relative;
  width: 50%;
}
.Button {
  width: 30%;
  padding: 0.5rem;
  color: white;
  background-color: #45105d;
  border: none;
  font-size: 1.5rem;
}
