.ContactUs {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25vh;
}
.ContactUsHeading {
  font-size: 3rem;
}
.Form {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  justify-content: center;
  width: 80%;
  background-image: linear-gradient(
    90deg,
    rgba(74, 36, 132, 1) 0%,
    rgba(127, 0, 113, 1) 100%
  );
}
.Image {
  margin-top: -10vh;
  width: 120%;
  height: 120%;
}
.InputFields {
  padding-left: 3%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 50%;
}
.ImageAnchor {
  position: relative;
  width: 50%;
}
.Button {
    margin-top: 2rem;
  width: 30%;
  padding: 0.5rem;
  color: white;
  background-color: #45105d;
  border: none;
  font-size: 1.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 650px) {
    .ImageAnchor{
        display: none;
    }
    .InputFields {
        width: 90%;
        padding-left: 0;
        padding-top: 10%;
    }
    .Button {
        width: 50%;
    }
}
@media (min-width: 650px) and (max-width: 1000px) {
    .ImageAnchor {
        display: none;
    }
    .InputFields {
        width: 90%;
        padding-left: 0;
    }
}
@media (min-width: 1000px) and (max-width: 1250px) {
    .Image {
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}