.HelpWith {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  margin-top: 15vh;
    text-align: center;
}
.HelpWithBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
    justify-content: center;
  gap: 4rem;
    width: 100%;
  margin: 20vh 2vw 0 2vw;
    flex-wrap: wrap;
}
@media (max-width: 650px) {
    .HelpWith{
        font-size: 2rem;
    }
    .HelpWithBoxes{
        flex-direction: column;
    }

}
@media (min-width: 651px) and (max-width: 1000px) {
    .HelpWithBoxes{
        flex-direction: column;
    }

}