.HelpWith{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}
.HelpWithBoxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin: 10vh 2vw 0 2vw;
}